<%= if is_admin(@conn) do %>
  <%= link "Edit", to: question_path(@conn, :edit, @question) %>
  <%= link "Delete", to: question_path(@conn, :delete, @question), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
<% end %>

<h2><%= @question.question %></h2>

<p>
  <%= markdown(@question.answer) %>
</p>
